
  <p> La liste des dossiers </p>

<table class="striped highlight centered responsive-table z-depth-2" style="font-size: 20px;">
  <thead>
    <tr>
        <th data-field="id">ID du dossier</th>
         <th data-field="Description">Description</th>
         <th data-field="name">Nom</th>



        <th >Edit</th>
        <th >Delete</th>
    </tr>
</thead>

<tbody>
  <tr *ngFor="let dossier of values " [class.selected]="dossier === selecteddossier">


      <td>{{dossier.id}}</td>
      <td>{{dossier.description}}</td>
      <td>{{dossier.name}}</td>

<button (click)="gotoDetail(dossier)" class="pull-right fl-ri btn btn-success">Modifier </button>
<button type="button" class="btn btn-pad btn-success pull-right" data-toggle="modal" data-target="#myModal"  (click)="onClickLi(dossier)"> Supprimer ce dossier</button>


<!--  ************************************************************ Afficher les fichiers d'un dossier************************************************************************************************  -->
<button class="btn-secondary btn pull-right" (click)="focntionD(dossier)">Afficher les fichiers d'un dossier.</button>
<button class="btn-secondary btn pull-right" (click)="focntionb1(dossier)">Ajouter un fichier.</button>




  </tr>
  </tbody>
</table>




<!--    ************************************** Modal pour supprimer une dossier        *********************************************** *** ****** -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Suppression du dossier  </h4>
        </div>
        <div class="modal-body">
          <p>Vous voulez supprimer un tiroire ?</p>
        </div>
        <div class="modal-footer">

<button (click)="delete(selecteddossier)" class="pull-right fl-ri btn btn-success">supprimer!!!</button>

<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

        </div>
      </div>

    </div>
  </div>
